$fcolor: rgb(72, 72, 228);
.breadcrumb{
    border: 1px solid $fcolor;
    margin-bottom: 20px;
    line-height: 30px;
    padding: 5px;
    box-shadow: 3px 3px lavender;
}

.link{
    color:$fcolor;
}